/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Muli, sans-serif;
  text-align: center;
  background-color: #e0e7e9;
}